body {
  color: #0D1B1B;
  background-color: #F1EFE3;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Meow Script', cursive;
  color: #E26640;
  font-size: 64px;
  text-align: center;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

h2, h3 {
  color: #366D6B;
  font-family: 'Arvo', serif;
  font-weight: normal;
  margin: 0;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

p {
  font-family: 'Hind', sans-serif;
  font-size: 18px;
}

button {
  color: white;
  font-size: 21px;
  background-color: #4EA09C;
  border: solid 0;
  padding: .5em 1.5em;
  text-transform: uppercase;
  letter-spacing: .2em;
  border-radius: 10px;
}

header {
  background-color: #F4D2B8;
  padding-top: 3em;
}

header h2 {
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
  font-style: italic;
  font-size: 24px;
}

nav {
  background-color: #E26640;
  margin-top: 2em;
  padding: .3em; 
  text-align: center;
}

nav a {
  color: white;
  font-family: 'Hind', sans-serif;
  text-transform: lowercase;
  font-size: 16px;
  letter-spacing: .1em;
  padding-left: 2em; 
}

#hero {
  text-align: center;
  background-color: #B9DBC3;
  padding: 10em;
}

.container {
  padding: 3em;
  margin: 0;
}

#classes {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

#classes div {
  width: 20%;
}

#classes img {
  width: 90%;
  border-radius: 20px;
}

#classes h3 {
  font-size: 20px;
  text-align: center;
}

#testimonial-section {
  background-color: #F4D2B8;
  padding: 3em;
}

#testimonial-section div {
  width: 40%;
  margin: auto;
} 

#testimonial-section .testimonial {
  color: #366D6B;
  font-style: italic;
  font-size: 24px;
}

#testimonial-section .customer {
  text-align: right;
}

footer {
  margin: 0;
  padding: 5em;
  text-align: center;
}

footer div {
  background-color: #B9DBC3;
  padding: 2em;
  margin: auto;
  width: 40%;
}