body {
  color: #0D1B1B;
  background-color: #F1EFE3;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Meow Script', cursive;
  color: #E26640;
  font-size: 64px;
  text-align: center;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

h2, h3 {
  color: #366D6B;
  font-family: 'Arvo', serif;
  font-weight: normal;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

p {
  font-family: 'Hind', sans-serif;
  font-size: 18px;
}

button {
  color: white;
  font-size: 21px;
  background-color: #4EA09C;
  border: solid 0;
  padding: .5em 1.5em;
  text-transform: uppercase;
  letter-spacing: .2em;
}

header {
  background-color: #F4D2B8;
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 3em;
}

header h2 {
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
  font-style: italic;
}

nav {
  background-color: #E26640;
  margin-top: 2em;
  padding: .3em;
  text-align: center;
}

nav a {
  color: white;
  font-family: 'Hind', sans-serif;
  text-transform: lowercase;
  font-size: 16px;
  padding-left: 2em;
}

main {
  margin-top: 16em;
}